@font-face {
  font-family: 'Pixelart';
  src: url(../assets/fonts/pixelart.woff2) format('woff2'), url(../assets/fonts/pixelart.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src: url(../assets/fonts/iosevka.woff2) format('woff2'), url(../assets/fonts/iosevka.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}