$color: rgba(236, 209, 149, 0.9);

:host {
  display: block;
  height: 100%;

  .logo {
    position: absolute;
    top: 24px;
    left: 24px;
    height: 200px;
  }

  main {
    position: relative;
    display: flex;
    color: $color;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;

    .points {
      font-size: 3.2rem;
      margin-bottom: 2rem;
      font-family: 'Pixelart';
    }
  }
}